body,
html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  font-family: "Helvetica Neue", "Open Sans", Tahoma;
  font-size: 0.85rem;
  min-width: 480px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

a, button {
  cursor: pointer; }

* {
  box-sizing: border-box; }

h1 {
  margin: 0;
  padding: 0; }

[hide] {
  display: none !important; }

app {
  background: #fafafa; }
  app header {
    height: 85px;
    background: #232323;
    flex: none;
    overflow: hidden;
    white-space: nowrap; }
    app header logo h1 {
      border-right: solid 1px #919191;
      background: url("img/pi-logo.png") no-repeat center center;
      opacity: 0.9;
      width: 90px;
      height: 50px;
      margin-right: 1rem;
      display: block;
      overflow: hidden;
      text-indent: 1000px;
      white-space: nowrap; }
      app header logo h1:hover {
        opacity: 1; }
    app header nav > category {
      cursor: pointer;
      color: #919191;
      font-size: 15px;
      font-weight: 300;
      padding: 0.5rem 0.8rem;
      transition: color 0.2s; }
      app header nav > category:hover {
        color: white; }
      app header nav > category[selected][pink] {
        color: rgba(186, 95, 155, 0.92); }
      app header nav > category[selected][green] {
        color: rgba(81, 201, 129, 0.92); }
      app header nav > category[selected][blue] {
        color: rgba(81, 176, 201, 0.92); }
      app header nav > category[selected] + overlay {
        display: block !important; }
    app header search {
      position: relative; }
      app header search a#search-button {
        display: inline-block;
        background: url("/img/search-icon.png") no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 5px;
        right: 19px;
        text-indent: 100px;
        opacity: 0;
        transition: opacity 0.2s; }
      app header search input {
        background: #333333;
        padding: 9px 35px 9px 10px;
        border-radius: 3px;
        margin-right: 15px;
        border: none;
        font-size: 13px;
        width: 150px;
        outline: none;
        transition: background 0.2s, width 0.2s; }
        app header search input:active, app header search input:hover, app header search input:focus {
          background: white;
          width: 250px; }
          app header search input:active + a#search-button, app header search input:hover + a#search-button, app header search input:focus + a#search-button {
            opacity: 1; }
        app header search input:active, app header search input:focus {
          box-shadow: 0 0 1px 3px #638b9b; }

cart {
  background: white;
  overflow: auto;
  position: relative; }

cart-title,
cart-top-title,
cart-left-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  letter-spacing: 0.5px;
  background: rgba(0, 0, 0, 0.05); }

cart-top-title {
  padding: 0;
  bottom: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  left: 0;
  background: transparent;
  font-size: 18px;
  position: relative; }

cart-left-title {
  position: relative;
  margin-right: auto;
  width: 40%;
  padding: 80px 0 0;
  background: url(img/tootpaste.png) no-repeat top left;
  color: #222222;
  top: 30px;
  left: 30px;
  text-transform: none;
  font-size: 15px; }
  cart-left-title strong {
    display: block;
    margin-top: 5px;
    line-height: 1;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal; }
  cart-left-title a {
    text-decoration: underline; }
    cart-left-title a:hover {
      text-decoration: none; }

play-button {
  position: relative;
  background: url("img/playicon.png") no-repeat;
  height: 42px;
  width: 42px;
  margin: auto;
  cursor: pointer; }

overlay {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 85px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10; }
  overlay sub-nav {
    background: white;
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }
    overlay sub-nav[green] {
      background: rgba(81, 201, 129, 0.92); }
    overlay sub-nav[blue] {
      background: rgba(81, 176, 201, 0.92); }
    overlay sub-nav[pink] {
      background: rgba(186, 95, 155, 0.92); }
    overlay sub-nav arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent rgba(81, 201, 129, 0.92) transparent;
      position: absolute;
      top: -20px; }
    overlay sub-nav[green] arrow {
      border-color: transparent transparent rgba(81, 201, 129, 0.92) transparent;
      left: 220px; }
    overlay sub-nav[green] li {
      border-color: #a8e4bf; }
    overlay sub-nav[green] a:hover {
      background: #2ba259; }
    overlay sub-nav[blue] arrow {
      border-color: transparent transparent rgba(81, 176, 201, 0.92) transparent;
      left: 130px; }
    overlay sub-nav[blue] li {
      border-color: #a8d7e3; }
    overlay sub-nav[blue] a:hover {
      background: #2a89a0; }
    overlay sub-nav[pink] arrow {
      border-color: transparent transparent rgba(186, 95, 155, 0.92) transparent;
      left: 320px; }
    overlay sub-nav[pink] li {
      border-color: #ddafcc; }
    overlay sub-nav[pink] a:hover {
      background: #943873; }
    overlay sub-nav ul {
      width: 850px;
      margin-left: 110px; }
      overlay sub-nav ul li {
        width: 31%;
        float: left;
        margin-right: 2.3%;
        border-bottom: solid 1px;
        border-top: solid 1px;
        margin-top: -1px;
        padding: 2px 0; }
    overlay sub-nav a {
      color: white;
      opacity: 0.9;
      display: block;
      padding: 1rem 0.8rem;
      font-size: 15px;
      line-height: 15px;
      font-weight: 100;
      letter-spacing: 1px;
      transition: color 0.2s, background 0.2s;
      overflow: hidden;
      text-overflow: ellipsis; }
      overlay sub-nav a:hover {
        opacity: 1; }

[layout] {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap; }
  [layout][center] {
    align-items: center; }
  [layout][start] {
    align-items: flex-start; }
  [layout][end] {
    align-items: flex-end; }
  [layout][wrap] {
    flex-wrap: wrap; }
  [layout][horizontal] {
    flex-direction: row; }
  [layout][vertical] {
    flex-direction: column; }
  [layout][fit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  [layout] [flex] {
    flex: auto; }
    [layout] [flex][one] {
      flex: 1; }
    [layout] [flex][two] {
      flex: 2; }
    [layout] [flex][tree] {
      flex: 3; }
    [layout] [flex][four] {
      flex: 4; }
    [layout] [flex][five] {
      flex: 5; }
    [layout] [flex][fix] {
      flex: 6; }
    [layout] [flex][seven] {
      flex: 7; }
    [layout] [flex][eight] {
      flex: 8; }
    [layout] [flex][nine] {
      flex: 9; }
    [layout] [flex][ten] {
      flex: 10; }
    [layout] [flex][eleven] {
      flex: 11; }
    [layout] [flex][twelve] {
      flex: 12; }

[show-on-large] {
  display: none; }

@media (min-width: 1200px) {
  [show-on-large] {
    display: inherit; } }
@media (max-width: 750px) {
  body,
  html {
    height: auto; }

  app header {
    height: 65px; }

  overlay {
    top: 65px; }

  [layout][fit] {
    position: relative; }

  main[layout] {
    display: block; }

  row {
    display: block !important; }

  main {
    display: block; }

  cart {
    height: 250px; }
    cart#e-list {
      height: auto; }
    cart#pi-rating {
      height: 420px; }
    cart#what-is-in-products {
      height: 300px; }
    cart#products {
      height: 300px; }
    cart#mobile-app, cart#bio-shops {
      height: 300px; } }
.rating {
  background: #30a41e;
  color: white;
  padding: 10px;
  font-size: 40px;
  margin-left: 20px;
  width: 100px;
  display: block;
  text-align: center; }

[subrating-row] {
  padding: 5px;
  border-bottom: solid 1px #eeeeee; }
  [subrating-row][first] {
    border-top: solid 1px #eeeeee;
    margin-top: 20px; }
  [subrating-row] .description {
    padding: 10px;
    text-align: left; }
  [subrating-row] .title {
    padding: 10px;
    font-weight: bold; }

.subrating {
  background: #207212;
  color: white;
  padding: 5px;
  font-size: 20px;
  margin-left: 20px;
  width: 40px;
  display: block;
  text-align: center; }

[list] {
  margin: 0;
  padding: 5px 10px;
  overflow: auto; }
  [list] li {
    margin: 5px 0;
    padding: 10px 0 10px 8px;
    border-left: solid 15px orange;
    list-style: none; }
    [list] li:hover {
      background: #eeeeee;
      cursor: pointer; }

[comment] {
  margin: 10px;
  padding: 10px 30px 10px 0;
  border-bottom: solid 1px #999999; }
  [comment] [img] {
    width: 50px;
    height: 50px;
    background: #eeeeee; }
  [comment] [shortcomment] {
    padding: 0 0.5rem; }
  [comment] [rating] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: green;
    margin: 0.5rem;
    text-align: center;
    color: white; }

po-rating {
  width: 100px;
  height: 65px;
  background: white;
  border: solid 2px #a0c847;
  position: relative;
  padding: 3px;
  display: table; }
  po-rating number {
    background: #87cc58;
    color: white;
    width: 75%;
    display: table-cell;
    font-size: 35px;
    line-height: 35px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle; }
  po-rating info {
    margin-left: 1px;
    font-size: 7px;
    display: block;
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 75%; }
    po-rating info logo {
      height: 20px;
      width: 20px;
      display: block;
      position: absolute;
      top: 0; }
    po-rating info criteria {
      display: block;
      height: 2px;
      background: #eeeeee;
      margin-top: 2px; }
    po-rating info detail {
      position: absolute;
      bottom: 0;
      left: 0; }

#pi-rating {
  background: #ebece5 url("img/rating.png") no-repeat top center;
  position: relative; }
  #pi-rating footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30px;
    padding-top: 20px;
    border-top: solid 1px #dededc; }
    #pi-rating footer description {
      padding-right: 160px;
      display: block;
      height: 50px;
      text-overflow: ellipsis; }
    #pi-rating footer po-rating {
      position: absolute;
      right: 0;
      top: 15px; }
  #pi-rating > criteria {
    position: relative; }
    #pi-rating > criteria rating {
      padding: 0.4rem 0.7rem;
      background: #919191;
      color: white;
      font-size: 33px;
      font-weight: 100;
      position: absolute; }
    #pi-rating > criteria h2 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 17px; }
    #pi-rating > criteria[ingredients] {
      left: 50%;
      width: 110px;
      margin-left: -250px;
      top: 115px; }
      #pi-rating > criteria[ingredients] h2 {
        color: #bbcd58; }
      #pi-rating > criteria[ingredients] rating {
        background: rgba(188, 205, 88, 0.9);
        right: -65px;
        top: 18px; }
    #pi-rating > criteria[people] {
      left: 50%;
      width: 125px;
      margin-left: 120px;
      top: -30px; }
      #pi-rating > criteria[people] h2 {
        color: #84ca55; }
      #pi-rating > criteria[people] rating {
        background: rgba(135, 204, 88, 0.9);
        left: -80px;
        top: 18px; }

#mobile-app {
  background: #5cd5c6 url("img/iphone.png") no-repeat right bottom; }
  #mobile-app cart-top-title {
    margin-right: 120px; }
  #mobile-app button {
    background: none;
    padding: 10px;
    border: solid 1px white;
    color: white;
    display: inline-block;
    margin-top: 30px;
    position: relative;
    margin-left: 30px;
    margin-right: 130px; }
    #mobile-app button:hover {
      background: rgba(255, 255, 255, 0.1); }

#bio-shops {
  background: #e2ded6 url("img/map.png") no-repeat;
  background-size: cover; }
  #bio-shops cart-top-title {
    color: black;
    padding-bottom: 60px;
    background: url("img/mapicon.png") no-repeat bottom left; }

#what-is-in-products {
  background: #f6f6f6 url("img/chemics.png") no-repeat right bottom; }

#products {
  background: #e8e9e9 url("img/products.png") no-repeat;
  background-size: cover; }

#fyi-movie-first {
  background: #b6da62 url("img/bio.png") no-repeat;
  background-size: cover; }

#fyi-movie-second {
  background: #dd841d url("img/gluten.png") no-repeat;
  background-size: cover; }

#e-list {
  background: #e9ebe2; }
  #e-list cart-top-title {
    color: black;
    font-weight: 200; }
  #e-list ul {
    margin-top: 15px; }
    #e-list ul li {
      padding: 3px 20px; }
      #e-list ul li a {
        text-decoration: underline;
        color: #333333;
        font-weight: 200; }
        #e-list ul li a:hover {
          text-decoration: none; }

products {
  background: #f8f8f5;
  overflow-y: auto;
  position: relative;
  padding: 0 30px 30px; }
  products bar {
    line-height: 60px; }
  products product {
    background: white;
    width: 200px;
    height: 300px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    text-align: center; }
    products product img {
      margin-top: 20%; }
    products product po-rating {
      position: absolute;
      top: 8px;
      right: 0;
      transform: scale(0.6, 0.6); }
    products product name {
      position: absolute;
      left: 20px;
      right: 10px;
      bottom: 15px; }
    products product a {
      color: #53abd9;
      text-decoration: underline; }
      products product a:hover {
        text-decoration: none; }

side-nav {
  background: #51b0c9;
  color: white;
  padding: 20px;
  letter-spacing: 0.7px; }
  side-nav h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 0 10px; }
  side-nav ul {
    margin-bottom: 30px; }
  side-nav a {
    color: inherit;
    line-height: 30px;
    opacity: 0.8;
    font-weight: 100; }
    side-nav a[selected] {
      opacity: 1;
      font-weight: normal; }

main [yellow] {
  background: #bccd58; }
main [green] {
  background: #87cc57; }
main [red] {
  background: #fd6141; }

side {
  padding: 10px 10px 10px 20px; }
  side product-photo {
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    text-align: center; }
  side a {
    color: #56a8d8; }

side,
middle {
  background: white;
  position: relative; }

middle {
  padding: 20px; }
  middle products {
    display: block;
    padding: 0; }
    middle products product {
      margin: 0;
      width: 33%;
      height: 240px;
      position: relative;
      top: -20px; }
      middle products product po-rating {
        transform: scale(0.6, 0.6);
        top: 45px; }
      middle products product img {
        transform: scale(0.7, 0.7);
        margin: 0; }
      middle products product name {
        max-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis; }
  middle h3 {
    font-weight: normal;
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 20px; }
  middle > name {
    font-size: 24px;
    display: block;
    line-height: 1;
    margin-right: 120px; }
  middle > po-rating {
    position: absolute;
    top: 15px;
    right: 20px; }
  middle category {
    font-size: 12px;
    margin-bottom: 35px;
    display: block; }
  middle alternatives products {
    background: none; }
  middle ingridients ul li {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    middle ingridients ul li tick {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #cbcbca;
      margin-right: 8px; }
  middle sub-ratings {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-top: solid 1px #e5e5e5; }
    middle sub-ratings rating {
      display: block;
      border-bottom: solid 1px #e5e5e5;
      padding: 10px;
      position: relative;
      height: 53px; }
      middle sub-ratings rating info {
        margin-right: 40px; }
      middle sub-ratings rating simple-big-rating {
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        width: 40px;
        padding: 0;
        line-height: 33px;
        font-size: 20px;
        color: white;
        background: #87cc57;
        font-weight: 100;
        text-align: center; }
      middle sub-ratings rating title {
        font-weight: bold;
        display: inline-block;
        margin-right: 15px; }

product-holder {
  background: white; }

reviews-holder {
  background: #f2f2f2;
  position: relative; }
  reviews-holder review-form {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
    position: absolute;
    right: 0;
    left: 20px;
    top: 15px; }
    reviews-holder review-form input {
      display: block;
      padding: 5px 8px;
      width: calc(100% - 10px); }
  reviews-holder reviews {
    position: absolute;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 0; }
    reviews-holder reviews review author {
      display: block;
      position: relative;
      height: 35px; }
      reviews-holder reviews review author simple-rating {
        position: absolute;
        left: 20px;
        top: 30px;
        width: 23px;
        display: block;
        background: #87cc58;
        color: white;
        line-height: 16px;
        text-align: center;
        font-size: 11px; }
      reviews-holder reviews review author img {
        display: block;
        position: absolute;
        top: 3px;
        left: 20px; }
      reviews-holder reviews review author name {
        font-weight: bold;
        color: #51b0c9;
        display: block;
        position: absolute;
        left: 55px;
        right: 0;
        top: 0;
        overflow: hidden;
        text-overflow: ellipsis; }
      reviews-holder reviews review author date {
        font-size: 11px;
        color: #999999;
        position: absolute;
        left: 55px;
        top: 14px; }
    reviews-holder reviews review review-text {
      color: #5a5a5a;
      display: block;
      padding-bottom: 15px;
      padding-right: 10px;
      margin-bottom: 15px;
      border-bottom: solid 1px #d9d9d9;
      margin-left: 55px;
      font-size: 13px;
      line-height: 1.5; }

.login-text-and-button {
  margin-right: 15px;
  color: #eeeeee; }
