<template name="list">

  <products flex one style="overflow: auto;">

    <bar flex layout horizontal>
      <count flex>234 продукта</count>
      <filter>
        Подреди по:
        <select>
          <option>оценка (нисходящо)</option>
          <option>оценка (възходящо)</option>
        </select>
      </filter>
    </bar>

    <product>
      <a href="product.html">
        <img src="img/sample-product-1.png" width="71" height="180" alt=""/>
        <name>Био сапун със свежа българска лавандула</name>
        <po-rating>
          <number>7.3</number>
          <info>
            <logo></logo>
            <detail>
              <total>7.2/10</total>
              <criteria ingredients></criteria>
              <criteria people></criteria>
            </detail>
          </info>
        </po-rating>
      </a>
    </product>

  </products>
  <side-nav style="width: 250px;" layout vertical>
    <content flex>
      <ul>
        <li><h2>Brands</h2></li>
        <li><a href="#">Pantene Pro-V (118)</a></li>
        <li><a href="#">Suave (90)</a></li>
        <li><a href="#">L'Oreal (69)</a></li>
        <li><a href="#">Herbal Essences (64)</a></li>
        <li><a href="#" selected>VO5 (58)</a></li>
        <li><a href="#">L'Oreal Paris (47)</a></li>
        <li><a href="#">Matrix (42)</a></li>
        <li><a href="#">Dove (40)</a></li>
        <li><a href="#">John Frieda (36)</a></li>
        <li><a href="#">TRESemme (35)</a></li>
        <li><a href="#">See More</a></li>
      </ul>

      <ul>
        <li><h2>Other criteria</h2></li>
        <li><a href="#">Organic</a></li>
        <li><a href="#">Bio</a></li>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Other</a></li>
      </ul>
    </content>
  </side-nav>

</template>
