<template name="product">
    <side style="width: 250px">
      <product-photo>
        <img src="/img/{{image}}.png" width="102" height="229" alt=""/>
      </product-photo>
      Brand: <br/>
      <a href="#">{{brand}}</a>
    </side>

    <middle>
      <name>
        {{name}}
      </name>
      <category>
        {{#each categories}}
          <a href="">{{this}}</a> /
        {{/each}}
      </category>

      <po-rating>
        <number>{{rating}}</number>
        <info>
          <logo></logo>
          <detail>
            <total>{{rating}}/10</total>
            <criteria ingredients></criteria>
            <criteria people></criteria>
          </detail>
        </info>
      </po-rating>

      <sub-ratings>
        <rating flex layout horizontal>
          <title>ЗДРАВЕ</title>
          <info>Този продукт не съдържа съставки, които будят загриженост за здравето.</info>
          <simple-big-rating yellow>6.5</simple-big-rating>
        </rating>
        <rating flex layout horizontal>
          <title>ОБЩЕСТВО</title>
          <info>Социални политики, практики и работа, той се поставя тази компания сред най-добрите 50% от фирмите оценяват.</info>
          <simple-big-rating>7.8</simple-big-rating>
        </rating>
      </sub-ratings>

      <sub-info flex layout horizontal>
        <ingridients>
          <h3>Съставки</h3>
          <ul>
            {{#each ingredients}}
              <li><tick></tick>{{this}}</li>
            {{/each}}
          </ul>
        </ingridients>

        <alternatives flex>
          <h3>Подобни продукти</h3>
          <products flex one style="overflow: auto;">
            <product>
              <a href="product.html">
                <img src="/img/sample-product-2.png" width="99" height="205" alt=""/>
                <name>Паста за зъби с мента/без флуорид 75 мл</name>
                <po-rating>
                  <number>7.1</number>
                  <info>
                    <logo></logo>
                    <detail>
                      <total>7.2/10</total>
                      <criteria ingredients></criteria>
                      <criteria people></criteria>
                    </detail>
                  </info>
                </po-rating>
              </a>
            </product>

            <product>
              <a href="product.html">
                <img src="/img/sample-product-3.png" width="99" height="205" alt=""/>
                <name>Ароматерапия за тяло с био розово масло</name>
                <po-rating>
                  <number>8.8</number>
                  <info>
                    <logo></logo>
                    <detail>
                      <total>7.2/10</total>
                      <criteria ingredients></criteria>
                      <criteria people></criteria>
                    </detail>
                  </info>
                </po-rating>
              </a>
            </product>

            <product>
              <a href="product.html">
                <img src="/img/sample-product-4.png" width="95" height="205" alt=""/>
                <name>Крем за ръце с алое, невен и розова вода 30 мл</name>
                <po-rating>
                  <number>5.1</number>
                  <info>
                    <logo></logo>
                    <detail>
                      <total>7.2/10</total>
                      <criteria ingredients></criteria>
                      <criteria people></criteria>
                    </detail>
                  </info>
                </po-rating>
              </a>
            </product>
          </products>
        </alternatives>
      </sub-info>
    </middle>

    {{> reviewsSidebar}}

</template>
