<template name="productInList">
  <product>
    <a href="/product/{{_id}}">
      <img src="/img/{{image}}.png" alt=""/>
      <name>{{name}}</name>

      <pie-rating {{ getColor rating }} small>
        <rating>{{ rating }}</rating>
        <info>
          <logo>PIE</logo>
          <detail>
            <total>{{ rating }}/10<i>рейтинг</i></total>
            <criteria six ingredients>
              <indication></indication>
            </criteria>
            <criteria three people>
              <indication></indication>
            </criteria>
          </detail>
        </info>
      </pie-rating>
    </a>
  </product>
</template>
