<template name="product">
  <side style="width: 250px">
    <product-photo>
      <img src="/img/{{image}}.png" width="125" height="205" alt=""/>
    </product-photo>
    Brand: <br/>
    <a href="#">{{brand}}</a>
  </side>

  <middle flex>
    <name>
      {{name}}
    </name>
    <category>
      {{#each categories}}
        <a href="">{{this}}</a> /
      {{/each}}
    </category>

    <pie-rating eight>
      <rating>{{ rating }}</rating>
      <info>
        <logo>PIE</logo>
        <detail>
          <total>{{ rating }}/10<i>рейтинг</i></total>
          <criteria nine ingredients>
            <indication style="width: 87%;"></indication>
          </criteria>
          <criteria ten people>
            <indication style="width: 97%;"></indication>
          </criteria>
        </detail>
      </info>
    </pie-rating>


    <sub-ratings>
      <rating>
        <title>ЗДРАВЕ</title>
        <info>Този продукт не съдържа съставки, които будят загриженост за здравето.</info>
        <pie-rating seven="" simple="">
          <rating>7.4</rating>
        </pie-rating>
      </rating>
      <rating>
        <title>ОБЩЕСТВО</title>
        <info>Социални политики, практики и работа, той се поставя тази компания сред най-добрите 50% от фирмите оценяват.</info>
        <pie-rating nine="" simple="">
          <rating>9.4</rating>
        </pie-rating>
      </rating>
    </sub-ratings>

    <sub-info flex layout horizontal>
      <ingridients>
        <h3>Съставки</h3>
        <ul>
          {{#each ingredients}}
            <li><tick></tick>{{this}}</li>
          {{/each}}
        </ul>
      </ingridients>

      {{> alternativeProducts}}
    </sub-info>
  </middle>

  {{> reviewsSidebar }}

</template>
