<template name="product">
  <product>
    <a href="#">
      <img src="img/{{image}}.png" width="71" height="180" alt=""/>
      <name>{{name}}</name>
      <po-rating>
        <number>{{raing}}</number>
        <info>
          <logo></logo>
          <detail>
            <total>{{rating}}/10</total>
            <criteria ingredients>
              <ul>
                {{#each ingredients}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </criteria>
            <criteria people></criteria>
          </detail>
        </info>
      </po-rating>
    </a>
  </product>
</template>
