<template name="searchbar">
  <search>
    <form action="">
      <input type="search" placeholder="търси ..." name="criteria" autofocus/>
      <button><icon search></icon></button>
    </form>
    <suggestions>
      <ul>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement, lipsum dolor nutela harlisit ement, lipsum dolor nutela harlisit ement, lipsum dolor nutela harli
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
        <li>Lipsum
          <match>dolor</match>
          sit ement
        </li>
      </ul>
    </suggestions>
  </search>


</template>
